div{
    height: 400px;
    width: 300px;
    background-color: rgb(138, 138, 143);
    background-size: cover;
    position: absolute;
    right: 550px;
    top: 120px;
    border-radius: 10px;
    text-align: center;
}
body{
    background-image: url("login_page.png");
    background-size: cover;
}
button{
    size: 350px;
    border-radius: 5px;
    text-align: center;
}
a {
    text-decoration: none;
    position: absolute;
}